<div id="matches-container">
  <div class="header">
    <h1><%= @league_name %></h1> 
  </div>
  
    <div class="float-right mr-5 mb-0">
      <nav>
        <ul class="pagination">
          <li>
            <a class="page-link previous" data-id=<%=@league["id"]%> data-matchday=<%= @matchday %> href="/leagues/<%=@league["id"]%>/matches/current?matchday=<%=@matchday - 1%>">Previous</a>
            <li>
            <a class="page-link" href="/leagues/<%=@league["id"]%>/matches/current">Current</a>
          </li>
          </li>
          <li>
            <a class="page-link next" data-id=<%=@league["id"]%> data-matchday=<%= @matchday %> href="/leagues/<%=@league["id"]%>/matches/current?matchday=<%=@matchday + 1%>">Next</a>
          </li>
        </ul>
      </nav>
    </div>
 
  <div class="matches-table">
    <%= render partial: 'matches' %>
  </div>

</div>