<!DOCTYPE html>
<html>
  <head>
    <title>UEFASchedules</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body backgound="assets/background.jpg">

   <% if flash[:message] %>
      <div class="alert alert-danger text-center"> <%= flash[:message] %></div>
      <% end %>
      </div>

      <% if flash[:success] %>
      <div class="alert alert-success text-center"> <%= flash[:success] %></div>
      <% end %>
    </div>

  <%= render partial: 'layouts/navigation' %>
  <%= yield %>
  </body>
</html>
